* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    text-align: center;
}

body {
    background-color: #9F8C76;
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul {
    column-count: 3;
    column-gap: 15px;
    list-style-type: none;
}

.platos img {
    width: 275px;
    height: 175px;
    border-radius: 5px;
    border: 1px solid black;
}

.bebidas img {
    width: 275px;
    height: 175px;
    border-radius: 5px;
    border: 1px solid black;
}

.TextDiv {
    width: 275px;
    height: 175px;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    padding: auto;
}

div {
    border-radius: 10px;
}

.container {
    background-color: whitesmoke;
    width: 90%;
    height: auto;
    padding: 20px;
}

.platos {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: left;
    padding: 10px;
}

.bebidas {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: right;
    padding: 10px;
}

.PlatosImg {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: left;
    padding: 10px;
}

.PlatosText {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: right;
    padding: 10px;
}

.BebidasImg {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: left;
    padding: 10px;
}

.BebidasText {
    border: 1px solid black; /*lineas para delimitar el borde de los div, eliminar una vez completado el proyecto*/
    width: 45%;
    height: 100%;
    float: right;
    padding: 10px;
}

#titulo-menu {
    color: white;
}

#titulo-platos {
    color: black;
}

#titulo-bebidas {
    color: black;
}